._body-color
{
background-color: #0ff;
}
h1{
    text-align: center;
}
._div-body
{
    background-color: #eee;
    text-align: center;
    margin:auto;
    width:80%;
}
.button
{
    background-color: #0ff;
}

._radio-outer-div{
    display: flex;
    justify-content: center;
}

._radio-inner-div{
    display:flex;
    flex-direction: column;
    text-align: justify;
}
._checkbox-outer-div{
    display: flex;
    justify-content: center;
}
._checkbox-inner-div{
    display:flex;
    flex-direction: column;
    text-align: justify;
}